<link rel="stylesheet" href="/css/sidebar.css">
<div class="sidebar">
    <ul>
        <li><a href="/viewCategories">View Categories</a></li>
        <li><a href="/viewProducts">View Products</a></li>
        <li><a href="/addNewCategory">Add New Category</a></li>
        <li><a href="/addNewProduct">Add New Product</a></li>
        <li><a href="/editCategory">Edit Category</a></li>
        <li><a href="editProduct">Edit Product</a></li>
        <li><a href="/DeleteCategory">Delete Category</a></li>
        <li><a href="/DeleteProduct">Delete Product</a></li>
        <li><a href="/pendingOrders">Pending Orders</a></li>
        <li><a href="#">Verified Orders</a></li>
        <li><a href="#">Completed Orders</a></li>
    </ul>
</div>