

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
   

}

.container {
    display: flex;
    margin: 1.6vw;

}


.content {
    width: 80%;
    padding: 1vw;

}

.content {
    margin-left: 20%;
    margin-top: 8%;

}







/* Search Filter CSS */
.search-container {
  background-color: white;
  border-radius: 0.7vw;
  border: 1px solid lightgray;
  padding: 0.5vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.search-container h3 {
  text-align: center;
  margin-bottom: 0.3vw;
  font-size: 1.3vw;
}

.input-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.3vw;

}

.input-group label {
  width: 15%;
  text-align: right;
  font-weight: bold;
  font-size: 1.1vw;
}

.input-group input {

  width: 80%;
  padding: 0.6vw;
  border: 1px solid #ccc;
  border-radius: 0.3vw;
  font-size: 1vw;
}

.input-group select{
  width: 82%;
  padding: 0.6vw;
  border: 1px solid #ccc;
  border-radius: 0.3vw;
  font-size: 1vw;
}

.button-group {
  display: flex;
  justify-content: end;
  margin-top: 1vw
 
}

.button-group button {
  padding: 0.7vw 1.7vw;
  border: none;
  border-radius: 0.3vw;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 1vw;
  font-size: 1.2vw;
}

#searchButton {
  background-color: #4285f4;
}

#searchButton:hover {
  background-color: #1967d2;
}

#resetButton {
  background-color: #ea4335;
}

#resetButton:hover {
  background-color: #cc3d33;
}






/* Orders CSS */
strong {
  font-weight: bold;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}


button {
  border: 0 none;
  outline: 0 none;
}

button {
  background-color: #666;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #555;
}

img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
 
}


button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
  
}

.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before,
.promo-value:before {
  content: "RS";
}

.hide {
  display: none;
}

main {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 960px;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 70%;
 
  margin-top: 0px;
}

.basket-module {
  color: #111;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.basket-labels ul li{
  display: inline-block;
  padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
  content: "";
}

.item {
  width: 55%;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}

.subtotal {
  text-align: right;
}



.remove button {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  border-bottom: 1px solid #ccc;
  padding: 0.7rem 0;
  
}

.product-image {
  width: 15%;
}
.product-image img{
  width: 100%;
  height:5vw;
}
.product-details {
  width: 65%;
}

.product-frame {
  border: 1px solid #aaa;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 0.625rem;
  padding: 2px;
  width: 3.75rem;
}

@media screen and (max-width: 900px) {

  .product-image img{
    height: 7vw;
  }
}

@media screen and (max-width: 640px) {
  aside,
  .basket,
  .summary,
  .item,
  .remove {
    width: 100%;
  }
  .basket-labels {
    display: none;
  }
  .basket-module {
    margin-bottom: 1rem;
  }
  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 25%;
  }
  .product-image img{
    height: 15vw;
  }
  .product-details {
    width: 60%;
  }
  .price,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
 

}


@media screen and (max-width: 960px) {
  main {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
}


.empty-cart-message{

  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

.product-id{
  display: none;
}


.quantity{
  text-align: center;
}




main .basket{
  width: 100%;
  background-color: white;
 
  margin-bottom: 2vw
}


.order .orderDetails{
 
  height: 3vw;
  background-color: #ff9800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  color: white;
}
.order .orderDetails h1{
  font-size: 1.4vw;
}


.order-price{
  
  text-align: right;
  color: gray;
  padding: 1vw 0vw;
  float: right;
}
.order-price h1,.order-date h1{
font-size: 1.2vw;
}
.order-date{
    
  text-align: right;
  color: gray;
  padding: 1vw 0vw;
  float: left;
}

.no-order{
  font-size: 2vw;
  margin: 0 auto;
  text-align: center;
  padding: 1vw;
}
.no-order h1{
 font-size: 2vw;
}
