<link rel="stylesheet" href="css/customer/categorybar.css">
<div class="sidebar">

    <div class="categoryListHeading">

        <i class="fa fa-list"></i>
        <h3 style="display: inline-block;">Categories</h3>
        
    </div>


    <ul>
        <li><a href="/viewCategories">View Categories</a></li>
        <li><a href="/viewProducts">View Products</a></li>
        <li><a href="/addNewCategory">Add New Category</a></li>
        <li><a href="/addNewProduct">Add New Product</a></li>
        <li><a href="/editCategory">Edit Category</a></li>
        <li><a href="editProduct">Edit Product</a></li>
        <li><a href="/DeleteCategory">Delete Category</a></li>
        <li><a href="/addNewProduct">Add New Product</a></li>
        <li><a href="/editCategory">Edit Category</a></li>
        <li><a href="editProduct">Edit Product</a></li>
        <li><a href="/DeleteCategory">Delete Category</a></li>
        <li><a href="/viewCategories">View Categories</a></li>
        <li><a href="/viewProducts">View Products</a></li>
        <li><a href="/addNewCategory">Add New Category</a></li>
        <li><a href="/addNewProduct">Add New Product</a></li>
        <li><a href="/editCategory">Edit Category</a></li>
        <li><a href="editProduct">Edit Product</a></li>
        <li><a href="/DeleteCategory">Delete Category</a></li>
        <li><a href="/addNewProduct">Add New Product</a></li>
        <li><a href="/editCategory">Edit Category</a></li>
        <li><a href="editProduct">Edit Product</a></li>
        <li><a href="/DeleteCategory">Delete Category</a></li>


    </ul>
</div>